/* Reseteo básico */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
    .home-container {
        padding-top: var(--paddings-top-mobile);
        padding-bottom: var(--paddings-bottom-mobile);
        margin-top: var(--margins-top-mobile);
        margin-bottom: var(--margins-bottom-mobile);
    }
}



