/* 游댳 Contenedor del logo */
.logo-container {
  position: relative;
  width: 150px;
  height: 150px;
}

/* 游댳 Estilo base para los c칤rculos */
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

/* 游댳 Posiciones de los c칤rculos */
.green {
  background-color: #007953;
  animation-delay: 0.2s;
  top: 10px;
  left: 20px;
}
.blue {
  background-color: #004477;
  animation-delay: 0.4s;
  top: 23px;
  left: 32px;
}
.white {
  background-color: #ffff;
  animation-delay: 0.6s;
  top: 30px;
  width: 20px;
  left: 22px;
  bottom: 10px;
  height: 20px;
  z-index: 4;
}
.red {
  background-color: #dd0a0a;
  animation-delay: 0.8s;
  top: 33px;
  left: 25px;
  z-index: 4;
}
.white-2 {
  background-color: #ffff;
  animation-delay: 0.7s;
  top: 39px;
  width: 30px;
  left: 17px;
  bottom: 10px;
  height: 13px;
  z-index: 3;
}
.red-2 {
  background-color: #dd0a0a;
  animation-delay: 0.9s;
  top: 38px;
  left: 6.5px;
  width: 50px;
  height: 22px;
  z-index: 1;
}

/* 游댳 Animaci칩n de aparici칩n */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 游댳 Contenedor del logo y texto */
.search-container {
  display: flex;
  align-items: center;
}

/* 游댳 Posicionamiento del texto */
.text-container {
  margin-left: 10px; /* Mueve el texto 10px a la derecha */
  display: flex;
  flex-direction: column; /* Coloca "Contigo" debajo de "BANESCO" */
  align-items: flex-start;
}

/* 游댳 Estilo del t칤tulo */
.title-b {
  color: #004477;
  font-weight: 900; /* Hace que el texto sea m치s grueso */
  font-size: 50px; /* Aumenta el tama침o */
}

/* 游댳 Estilo del subt칤tulo */
.subTitle {
  font-family: "Caveat", cursive;
  color: #007953;
  font-weight: bold;
  font-size: 25px; /* Aumenta el tama침o para mejor visibilidad */
}
