/* 游댳 Contenedor del logo */
.logo-container {
  position: relative;
  width: 150px;
  height: 150px;
}

/* 游댳 Estilo base para los c칤rculos */
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

/* 游댳 Posiciones de los c칤rculos */
.green {
  background-color: #007953;
  animation-delay: 0.2s;
  top: 10px;
  left: 20px;
} /* 游댳 Superior izquierda */
.blue {
  background-color: #004477;
  animation-delay: 0.4s;
  top: 23px;
  left: 32px;
} /* 游댳 Inferior derecha */
.white {
  background-color: #ffff;
  animation-delay: 0.6s;
  top: 30px;
  width: 20px;
  left: 22px;
  bottom: 10px;
  height: 20px;
  z-index: 4;
} /* 游댳 Esfera blanca detr치s */
.red {
  background-color: #dd0a0a;
  animation-delay: 0.8s;
  top: 33px;
  left: 25px;
  z-index: 4;
} /* 游댳 Sobrepuesta en blanca */

.white-2 {
  background-color: #ffff;
  animation-delay: 0.7s;
  top: 39px;
  width: 30px;
  left: 17px;
  bottom: 10px;
  height: 13px;
  z-index: 3;
} /* 游댳 Esfera blanca detr치s */
.red-2 {
  background-color: #dd0a0a;
  animation-delay: 0.9s;
  top: 38px;
  left: 6.5px;
  width: 50px;
  height: 22px;
  z-index: 1;
}

/* 游댳 Animaci칩n de aparici칩n */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
