.doctor-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}

.doctor-title {
    color: #00796b;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.doctor-btn {
    background-color: #00796b; 
    color: #ffffff;
    width: 250px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
}

.doctor-btn:hover {
    background-color: #008c7b;
    transform: translateY(-3px);
}

.doctor-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
