/* Estilos de los elementos del menú */
.navbar-img{
    width: 200px;
}

/* Estilos de los enlaces en el navbar */
.nav-link {
    color: #000000; /* Letras negras por defecto */
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

/* Hover con sombra más clara */
.nav-item:hover {
    background-color: #004477; 
    box-shadow: 0px 13px 10px #004377a6; /* Sombra azul más clara */
}

.nav-item:hover .nav-link {
    color: #ffffff;
}

/* Mantener el hover cuando el link está activo */
.nav-item.active {
    background-color: #004477; /* Mismo color que el hover */
    box-shadow: 0px 4px 10px rgba(0, 68, 119, 0.3); /* Sombra azul más clara */
}

.nav-item.active .nav-link {
    color: #ffffff; /* Texto blanco cuando está activo */
}

/* Botón "Servidores" en verde */
.nav-item.servers-button {
    background-color: #007953; /* Verde Banesco */
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav-item.servers-button:hover {
    background-color: #006445; /* Verde más oscuro en hover */
    box-shadow: 0px 4px 10px rgba(0, 121, 83, 0.3); /* Sombra verde más clara */
}

.nav-item.servers-button .nav-link {
    color: #ffffff; /* Texto blanco */
}