/* Variables globales */
:root {
  --paddings-top: 30px;
  --paddings-bottom: 30px;
  --margins-top: 0px;
  --margins-bottom: 0px;
  --gradient: linear-gradient(93.29deg, #1a61ab -12.85%, #007953 115.58%);
}

/*  Animaciones */
@keyframes fadeUpSlow {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomFadeInSlow {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*  Animaci贸n de expansi贸n para l铆neas */
@keyframes expandLine {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}

/*  Animaci贸n de expansi贸n para segunda l铆nea */
@keyframes expandLine2 {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 20%;
    opacity: 1;
  }
}

/*  Contenedor principal */
.servidores-container {
  padding: 0px;
  text-align: center;
  position: relative;
}

/*  Encabezado del servidor con gradiente */
.servidores-header {
  padding-top: var(--paddings-top);
  padding-bottom: var(--paddings-bottom);
  margin-top: var(--margins-top);
  margin-bottom: var(--margins-bottom);
  background: var(--gradient);
  text-align: center;
}

/*  T铆tulo (Animaci贸n de elevaci贸n m谩s lenta) */
.servidores-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
  animation: fadeUpSlow 1s ease-out;
}

/*  Bot贸n para abrir el modal (Animaci贸n de zoom m谩s lenta) */
.crear-servidores-btn {
  background-color: #ffff;
  color: #006243;
  padding: 7px 20px;
  border: 2px solid #006847;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  animation: zoomFadeInSlow 1s ease-out;
}

/*  Nuevo Hover */
.crear-servidores-btn:hover {
  background-color: #007953;
  color: white;
  border: 2px solid rgb(0, 153, 104);
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

/*  L铆nea Blanca Debajo del Bot贸n (Animaci贸n de expansi贸n) */
.linea-blanca {
  margin: auto;
  width: 30%;
  height: 3px;
  background-color: #ffffff89;
  margin-bottom: 20px;
  animation: expandLine 1s ease-out;
}

/*  Segunda l铆nea blanca (Animaci贸n de expansi贸n) */
.linea-blanca-2 {
  margin: auto;
  width: 20%;
  height: 2.5px;
  background-color: #ffffff89;
  margin-top: 20px;
  animation: expandLine2 1s ease-out;
}

/*  Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  font-size: 12px;
}
